* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(2, 1, 3);
    color: white;
}

.landing {
    height: 100vh;
    background-image: url(../images/background.jpg);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}

.overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    width: 90%;
    margin: 0 auto;
}

.greeting {
    color: #00B1CD;
    font-size: 24px;
    font-weight: 700;
}

.landing h1 {
    font-size: 90px;
    margin: 12px 0;
}

.landing .description {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 50px;
}

.landing .description span {
    color: #00B1CD;
}

.landing a {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #00B1CD;
    border: 2px solid #00B1CD;
    border-radius: 35px;
    padding: 16px;
}

/* ---------------------------------------------------------- */

.projects-sec .container {
    margin-top: 100px;
}

.projects-sec .head {
    border-bottom: 1px solid #00b2cd5e;
    margin-bottom: 16px;
}

.projects-sec h2 {
    font-size: 60px;
    margin-bottom: 16px;
}

.projects-sec .head-text {
    max-width: 1200px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-item {
    width: calc(50% - 16px);
    margin-bottom: 32px;

}

.project {
    padding: 30px;
    background-color: #0D1117;
    border-radius: 10px;
}

/* Dynamically added elements  */

.repo-name {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 12px;
}

.topics {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.topic-item {
    padding: 8px;
    margin-right: 4px;
    margin-bottom: 4px;
    text-transform: capitalize;
    border-radius: 5px;
    background-color: #e2e8f02a;
}

.project hr {
    margin: 12px 0;
    border: 1px solid rgba(255, 255, 255, 0.11);
}

.project .description {
    font-size: 17px;
    color: #919191;
    line-height: 1.5;
}

.project .links {
    display: flex;
    flex-wrap: wrap;
}

.links .link-item {
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 5px;
    background-color: #e2e8f02a;
    margin: 0 4px 4px 0;
}